{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style media="screen">
#reply_form {
  text-align: left;
}
</style>
<main class="main-section">
  <section>
    <div class="row">
      <div align="center" class="col-md-12">
        <img class="head-img img-fluid" src="{% static 'img/Code.jpg' %}">
      </div>
    </div>
    <div class="row m-1">
      <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
        <div class="card">
          <legend class="pl-2">
            <img class="rounded-circle" src="{{ post.author.profile.photo.url }}" alt="" height="35px" width="35px">
            <a href="{% url 'post:user_posts' post.author.id %}">{{ post.author.profile.first_name }} {{ post.author.profile.last_name }}</a>
          </legend>
          <h1 class="pl-2 text-secondary">{{ post.title }}</h1>
          <img src="{{ post.post_image.url }}" alt="" height="400">
          <div class="card m-1">
            <p>{{ post.body|safe }}</p>
          </div>
          <small class="text-secondary">{{ post.likes.count }} like{{ post.likes|pluralize }}</small>
          <form action="{% url 'post:like_post' post.id %}" method="post">
            {% csrf_token %}
            {% if request.user.is_authenticated  %}
              {% if request.user not in post.likes.all %}
                <input class="btn btn-outline-info" type="submit" value="Like">
              {% else %}
                <input class="btn btn-outline-danger" type="submit" value="Dislike">
              {% endif %}
            {% endif %}
          </form>
        </div>
        {% if request.user == post.author %}
          <p><a class="btn btn-warning" href="{% url 'post:update' post.id %}">Update</a> <a class="btn btn-danger" href="{% url 'post:delete' post.id %}">Delete</a></p>
        {% endif %}

        {% if comments %}
          <p class="text-secondary">{{ comments.count }} comment{{ comments|pluralize }}</p>
          {% for comment in comments %}
            <div class="card mt-1">
              <p class="text-secondary ml-1 mt-1">
                <img class="rounded-circle" src="{{ comment.author.profile.photo.url }}" alt="" height="35px" width="35px">
                <a href="{% url 'post:user_posts' comment.author.id %}">
                  {{ comment.author.profile.first_name }}
                  {{ comment.author.profile.last_name }}
                </a>
                <small>{{ comment.date_commented }}</small>
              </p>
              <div class="card-body">
                <blockquote class="blockquote">
                  {{ comment.body }}
                </blockquote>
                {% if replies %}
                  {% for reply in replies %}
                    {% if reply.comment == comment %}
                    <div class="card ml-2 mt-1">
                      <small class=" text-secondary ml-1">
                        <img class="rounded-circle" src="{{ reply.author.profile.photo.url }}" alt="" width="25px" height="25px">
                        {{ reply.author.profile.first_name }}
                        {{ reply.author.profile.last_name }}
                      </small>
                      <blockquote class="blockquote">
                        <p class="ml-1">{{ reply.reply }}</p>
                      </blockquote>
                      {% if reply.author == request.user %}
                        <p>
                          <a class="text-warning ml-1" href="{% url 'post:update_reply' id=reply.id %}">Update</a>
                          <a class="text-danger" href="{% url 'post:delete_reply' reply.id %}">Delete</a>
                        </p>
                      {% endif %}
                    </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if user.is_authenticated %}
                  <div class="container" id="{{ comment.id }}">
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="comment" value="{{ comment.id }}">
                      {{ reply_form|crispy }}
                      <input class="btn btn-info" type="submit" value="reply">
                    </form>
                  </div>
                {% endif %}
                {% if request.user == comment.author %}
                  <p class="mt-2">
                    <a class="btn btn-warning ml-1" href="{% url 'post:update_comment' comment.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'post:delete_comment' comment.id %}">Delete</a>
                  </p>
                {% endif %}
              </div>
            {% endfor %}
          {% else %}
            <p class="text-secondary">No comment!</p>
          {% endif %}
          {% if request.user.is_authenticated %}
            <div class="container" id="reply_form">
              <form method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <input class="btn btn-info" type="submit" value="comment">
              </form>
            </div>
          {% else %}
            <p class="text-secondary">You need to <a href="{% url 'users:login' %}">Login</a> to add a comment!</p>
          {% endif %}
        </div>
      </div>
    </section>
  </main>

  {% for comment in comments %}
  <script type="text/javascript">
    function myFunction() {
      var x = document.getElementById("{{ comment.id }}");
      var b = document.getElementById("btn");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
  {% endfor %}

{% endblock %}
